{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Réinitialisez votre mot de passe</h3>
            </div>
        </div>
        <div class="clearfix"></div>

    <p>
        Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans 1 heure. {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
            <a href="{{ path('app_forgot_password_request') }}"><u><span>réessayer</span></u>
            </a>
        </p>

        <a href="{{ path('app_login') }}" class="btn btn-secondary">Log in</a>

    </div>
{% endblock %}
